<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\zgj\rpg\assets\runtime\win32\zh3_3.exe</StartProgram>
    <StartArguments>-position 700 100</StartArguments>
    <StartWorkingDirectory>E:\zgj\rpg\assets\</StartWorkingDirectory>
  </propertyGroup>
</Project>