<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zhentianxingcun_ku/ztxc1050a.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0177.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>105</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0169.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>131</integer>
				<key>x</key>
				<integer>269</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0004.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>436</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0005.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>614</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0006.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>182</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>795</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0007.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>187</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0008.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>184</integer>
				<key>x</key>
				<integer>189</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0009.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc1046.png</key>
			<dict>
				<key>width</key>
				<integer>418</integer>
				<key>height</key>
				<integer>312</integer>
				<key>originalWidth</key>
				<integer>418</integer>
				<key>originalHeight</key>
				<integer>312</integer>
				<key>x</key>
				<integer>528</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc1049.png</key>
			<dict>
				<key>width</key>
				<integer>585</integer>
				<key>height</key>
				<integer>406</integer>
				<key>originalWidth</key>
				<integer>585</integer>
				<key>originalHeight</key>
				<integer>406</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>495</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc1025.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>199</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>903</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc1026.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>199</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>201</integer>
				<key>y</key>
				<integer>903</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc1027.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>211</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>402</integer>
				<key>y</key>
				<integer>903</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc1028.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>615</integer>
				<key>y</key>
				<integer>903</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc1029.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>951</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc1030.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>222</integer>
				<key>y</key>
				<integer>951</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc1031.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>217</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>430</integer>
				<key>y</key>
				<integer>951</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc1032.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>649</integer>
				<key>y</key>
				<integer>951</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc1036.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc1037.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>169</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0160.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>12</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0003.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>366</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0104.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>12</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>385</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0098.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>14</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0116.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>415</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0012.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>14</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>464</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0073.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>9</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0101.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>9</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0096.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>504</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0097.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>523</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0141.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>9</integer>
				<key>x</key>
				<integer>541</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0131.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>9</integer>
				<key>x</key>
				<integer>553</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0054.png</key>
			<dict>
				<key>width</key>
				<integer>4</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>4</integer>
				<key>originalHeight</key>
				<integer>12</integer>
				<key>x</key>
				<integer>565</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0010.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>571</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0056.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>588</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0099.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>9</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>600</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0090.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>611</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0017.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>628</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0089.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>645</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0111.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>673</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0221.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>700</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0110.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>721</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0084.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>743</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0117.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>11</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>765</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0027.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>778</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0100.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>9</integer>
				<key>originalHeight</key>
				<integer>9</integer>
				<key>x</key>
				<integer>807</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhentianxingcun_ku/ztxc0062.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>9</integer>
				<key>originalHeight</key>
				<integer>9</integer>
				<key>x</key>
				<integer>818</integer>
				<key>y</key>
				<integer>998</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zhentianxingcun_action2.png</string>
			<key>realTextureFileName</key>
			<string>zhentianxingcun_action2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>